@using PayJS_Samples.Misc
@using Newtonsoft.Json;
@{

    // for the vault request:
    Nonces vault_Nonces = Shared.GetNonces();
    var vault_request = new
    {
        merchantId = Shared.MerchantID,
        merchantKey = Shared.MerchantKEY,
        requestType = "vault",
        orderNumber = "Invoice" + (new Random()).Next(100).ToString(),
        salt = vault_Nonces.Salt,
        postbackUrl = Shared.PostbackUrl,
    };
    string vault_jsonReq = JsonConvert.SerializeObject(vault_request);
    string vault_AuthKey = Shared.GetAuthKey(vault_jsonReq, Shared.DeveloperKEY, vault_Nonces.IV, vault_Nonces.Salt);

    // for the payment request:
    Nonces payment_Nonces = Shared.GetNonces();
    var payment_request = new
    {
        merchantId = Shared.MerchantID,
        merchantKey = Shared.MerchantKEY,
        requestType = "payment",
        orderNumber = "Invoice" + (new Random()).Next(100).ToString(),
        salt = payment_Nonces.Salt,
        postbackUrl = Shared.PostbackUrl,
        amount = Shared.Amount,
        preAuth = Shared.PreAuth
    };
    string payment_jsonReq = JsonConvert.SerializeObject(payment_request);
    string payment_AuthKey = Shared.GetAuthKey(payment_jsonReq, Shared.DeveloperKEY, payment_Nonces.IV, payment_Nonces.Salt);
}

<div class="wrapper text-center">
    <h1>Tokenization</h1>
    <p>Not ready to charge a card, or expecting to charge it multiple times? Run a vault-only request to store the card, then charge it when you're ready.</p>
    <br />
    <div>
        <button class="btn btn-primary" id="vaultButton">Store Card</button>
        <button class="btn btn-warning" id="paymentButton" disabled>Charge Card</button>
        <br /><br />
        <h5>Results:</h5>
        <p style="width:100%"><pre><code id="paymentResponse">The response will appear here as JSON, and in your browser console as a JavaScript object.</code></pre></p>
    </div>
</div>

<script type="text/javascript">
    PayJS(['PayJS/Request', 'PayJS/Response', 'PayJS/Core', 'PayJS/UI', 'jquery'],
    function($REQ, $RESP, $CORE, $UI, $) {
        $UI.Initialize({
            clientId: "@Shared.DeveloperID",
            postbackUrl: "@vault_request.postbackUrl",
            merchantId: "@vault_request.merchantId",
            authKey: "@vault_AuthKey",
            salt: "@vault_request.salt",
            requestType: "@vault_request.requestType",
            orderNumber: "@vault_request.orderNumber",
            elementId: "vaultButton",
            addFakeData: true
        });
        $UI.setCallback(function(vaultResponse) {
            console.log(vaultResponse.getResponse());
            $("#paymentResponse").text(
                vaultResponse.getResponse({ "json": true })
            );
            if (vaultResponse.getVaultSuccess()) {
                $("#vaultButton").prop('disabled', true);
                $("#paymentButton").prop('disabled', false);
                $("#paymentButton").click(function() {
                    $("#paymentButton").prop('disabled', true);
                    $("#paymentResponse").text("The response will appear here as JSON, and in your browser console as a JavaScript object.");
                    $CORE.Initialize({
                        amount: "@payment_request.amount",
                        clientId: "@Shared.DeveloperID",
                        postbackUrl: "@payment_request.postbackUrl",
                        merchantId: "@payment_request.merchantId",
                        authKey: "@payment_AuthKey",
                        salt: "@payment_request.salt",
                        requestType: "@payment_request.requestType",
                        orderNumber: "@payment_request.orderNumber",
                    });
                    $REQ.doTokenPayment(vaultResponse.getVaultToken(), "123", function(paymentResponse) {
                        console.log(paymentResponse);
                        $RESP.tryParse(paymentResponse);
                        $("#paymentResponse").text(
                            $RESP.getResponse({"json": true})
                        );
                    });
                })
            } else {
                // ...
            }
        });
    });
</script>
