@using PayJS_Samples.Misc
@using Newtonsoft.Json;
@{

    string vault_RequestId = "Invoice" + (new Random()).Next(100).ToString();
    Nonces vault_Nonces = Shared.GetNonces();
    string vault_RequestType = "vault";

    var vault_request = new
    {
        merchantId = Shared.MerchantID,
        merchantKey = Shared.MerchantKEY,
        requestType = vault_RequestType,
        requestId = vault_RequestId,
        nonce = vault_Nonces.Salt,
        postbackUrl = Shared.PostbackUrl,
        environment = Shared.Environment,
    };

    string vault_jsonReq = JsonConvert.SerializeObject(vault_request);
    string vault_AuthKey = Shared.GetAuthKey(vault_jsonReq, Shared.DeveloperKEY, vault_Nonces.IV, vault_Nonces.Salt);

    string payment_RequestId = "Invoice" + (new Random()).Next(100).ToString();
    Nonces payment_Nonces = Shared.GetNonces();
    string payment_RequestType = "payment";

    var payment_request = new
    {
        merchantId = Shared.MerchantID,
        merchantKey = Shared.MerchantKEY,
        requestType = payment_RequestType,
        requestId = payment_RequestId,
        nonce = payment_Nonces.Salt,
        postbackUrl = Shared.PostbackUrl,
        environment = Shared.Environment,
        amount = Shared.Amount,
        preAuth = Shared.PreAuth
    };

    string payment_jsonReq = JsonConvert.SerializeObject(payment_request);
    string payment_AuthKey = Shared.GetAuthKey(payment_jsonReq, Shared.DeveloperKEY, payment_Nonces.IV, payment_Nonces.Salt);
}

<div class="wrapper text-center">
    <h1>Tokenization</h1>
    <p>Not ready to charge a card, or expecting to charge it multiple times? Run a vault-only request to store the card, then charge it when you're ready.</p>
    <br />
    <div>
        <button class="btn btn-primary" id="vaultButton">Store Card</button>
        <button class="btn btn-warning" id="paymentButton" disabled>Charge Card</button>
        <br /><br />
        <h5>Results:</h5>
        <p style="width:100%"><pre><code id="paymentResponse">The response will appear here as JSON, and in your browser console as a JavaScript object.</code></pre></p>
    </div>
</div>

<script type="text/javascript">
    PayJS(['PayJS/Request', 'PayJS/Response', 'PayJS/Core', 'PayJS/UI', 'jquery'],
    function($REQ, $RESP, $CORE, $UI, $) {
        $UI.Initialize({
            apiKey: "@Shared.DeveloperID",
            environment: "@Shared.Environment",
            postbackUrl: "@Shared.PostbackUrl",
            merchantId: "@Shared.MerchantID",
            authKey: "@vault_AuthKey",
            nonce: "@vault_Nonces.Salt",
            requestType: "@vault_RequestType",
            requestId: "@vault_RequestId",
            elementId: "vaultButton"
        });
        $UI.setCallback(function(vaultResponse) {
            console.log(vaultResponse.getResponse());
            $("#paymentResponse").text(
                vaultResponse.getResponse({ "json": true })
            );
            if (vaultResponse.getVaultSuccess()) {
                $("#vaultButton").prop('disabled', true);
                $("#paymentButton").prop('disabled', false);
                $("#paymentButton").click(function() {
                    $("#paymentButton").prop('disabled', true);
                    $("#paymentResponse").text("The response will appear here as JSON, and in your browser console as a JavaScript object.");
                    $CORE.Initialize({
                        amount: "@Shared.Amount",
                        apiKey: "@Shared.DeveloperID",
                        environment: "@Shared.Environment",
                        postbackUrl: "@Shared.PostbackUrl",
                        merchantId: "@Shared.MerchantID",
                        authKey: "@payment_AuthKey",
                        nonce: "@payment_Nonces.Salt",
                        requestType: "@payment_RequestType",
                        requestId: "@payment_RequestId",
                        billing: {
                            name: "PaymentsJS Sample",
                            address: "123 Address St",
                            city: "Denver",
                            state: "CO",
                            postalCode: "80205"
                        }
                    });
                    $REQ.doTokenPayment(vaultResponse.getVaultToken(), "123", function(paymentResponse) {
                        console.log(paymentResponse);
                        $RESP.tryParse(paymentResponse);
                        $("#paymentResponse").text(
                            $RESP.getResponse({"json": true})
                        );
                    });
                })
            } else {
                // ...
            }
        });
    });
</script>
