@using PayJS_Samples.Misc
@using Newtonsoft.Json;
@{
    Nonces Nonces = Shared.GetNonces();

    var request = new
    {
        merchantId = Shared.MerchantID,
        merchantKey = Shared.MerchantKEY, // don't include the Merchant Key in the JavaScript initialization!
        requestType = "payment",
        orderNumber = "Invoice" + (new Random()).Next(100).ToString(),
        amount = Shared.Amount,
        salt = Nonces.Salt,
        postbackUrl = Shared.PostbackUrl,
        preAuth = Shared.PreAuth
    };

    string jsonReq = JsonConvert.SerializeObject(request);
    string AuthKey = Shared.GetAuthKey(jsonReq, Shared.DeveloperKEY, Nonces.IV, Nonces.Salt);
}

<div class="wrapper text-center">
    <h1>Response Integrity</h1>
    <p>The response headers returned from the API includes a hash of the body, which should be used to verify its integrity. This page runs a transaction upon loading; when you're ready, send it to the server for hash verification:</p>
    <br />
    <div>
        <h5>Result:</h5>
        <textarea id="paymentResponse" style="font-family: monospace; width:100%;" rows="6"></textarea>
        <br /><br />
        <button class="btn btn-primary" id="verifyButton" disabled>Verify</button>
        <br /><br />
        <h5>Hash Verification:</h5>
        <div class="compare">
            <input type="text" class="form-control disabled" id="reqIdHashClient" style="font-family: monospace; width:48%;" placeholder="">
            <input type="text" class="form-control disabled" id="reqIdHashServer" style="font-family: monospace; width:48%;" placeholder="">
        </div>
        <br /><br />
        <div class="compare">
            <input type="text" class="form-control disabled" id="respHashClient" style="font-family: monospace; width:48%;" placeholder="">
            <input type="text" class="form-control disabled" id="respHashServer" style="font-family: monospace; width:48%;" placeholder="">
        </div>
    </div>
</div>
<script type="text/javascript">

    PayJS(['PayJS/Core', 'PayJS/Request', 'PayJS/Response', 'jquery'],
    function($CORE, $REQ, $RESP, $) {

        $CORE.Initialize({
            clientId: "@Shared.DeveloperID",
            merchantId: "@request.merchantId",
            authKey: "@AuthKey",
            salt: "@request.salt",
            requestType: "@request.requestType",
            orderNumber: "@request.orderNumber",
            amount: "@request.amount",
        });
        $REQ.doPayment("5454545454545454", "1220", "123", function(data, status, jqxhr) {
            $("#verifyButton").prop('disabled', false);
            $RESP.tryParse(data, status, jqxhr);
            $("#paymentResponse").text($RESP.getApiResponse());
            $("#verifyButton").click(function() {
                $("#verifyButton").prop('disabled', true);
                var editedResponse = $("#paymentResponse").val();
                $('#reqIdHashClient').val($RESP.getResponseHash().hash);
                $.post(
                    "response/verify.cshtml",
                    editedResponse,
                    function(r) {
                        $("#verifyButton").prop('disabled', false);
                        $('#reqIdHashServer').val(r.hash);
                        $('.compare').each(function(index, element) {
                            var kids = $(element).children();
                            var client = $(kids[0]).val();
                            var server = $(kids[1]).val();
                            kids.css("color", client === server ? 'green' : 'red');
                        })
                    },
                    "json"
                );
            })
        })

        function getEditedResponseText() {
            console.log($("#paymentResponse").text());
            console.log();
            return $("#paymentResponse").text();
        }
    });
</script>
