@using PayJS_Samples.Misc
@using Newtonsoft.Json;
@{
    string MerchantId = "417227771521";
    string MerchantKey = "I5T2R2K6V1Q3";
    string RequestId = "Invoice" + (new Random()).Next(100).ToString();
    string Amount = "28";
    var NonceTuple = Shared.GetNonce();
    string Nonce = NonceTuple.Item2;
    string PostbackUrl = "http://www.example.com";
    string RequestType = "payment";
    string Environment = Shared.Environment;

    var request = new
    {
        merchantId = MerchantId,
        merchantKey = MerchantKey,
        requestType = RequestType,
        requestId = RequestId,
        postbackUrl = PostbackUrl,
        nonce = Nonce,
        amount = Amount,
        environment = Environment,
        preAuth = false
    };

    string jsonReq = JsonConvert.SerializeObject(request);

    string AuthKey = Shared.GetAuthKey(jsonReq, Shared.DeveloperKEY, NonceTuple);
}
<style>
    #paymentDiv {
        width: 60%;
        margin-left:auto;
        margin-right:auto;
        padding: 15px;
        border-width: thin;
        border-style: dotted;
        border-color: #3c424f;
    }
</style>
<div class="wrapper text-center">
    <h1>Inline</h1>
    <p>When PayJS is initialized with a <code>&lt;div&gt;</code>, the UI appears within that element:</p>
    <br />
    <div>
        <div id="paymentDiv"></div>
        <br /><br />
        <h5>Results:</h5>
        <p style="width:100%"><pre><code id="paymentResponse">The response will appear here as JSON, and in your browser console as a JavaScript object.</code></pre></p>
    </div>
</div>
<script type="text/javascript">
    PayJS(['PayJS/UI', 'jquery'],
    function($UI, $) {
        $UI.Initialize({
            apiKey: "@Shared.DeveloperID",
            merchantId: "@MerchantId",
            environment: "@Environment",
            authKey: "@AuthKey",
            requestType: "@RequestType",
            requestId: "@RequestId",
            amount: "@Amount",
            elementId: "paymentDiv",
            debug: true,
            postbackUrl: "@PostbackUrl",
            phoneNumber: "1-800-555-1234",
            nonce: "@Nonce",
            //suppressResultPage: true
        });
        $UI.setCallback(function(resp) {
            console.log(resp.getResponse());
            $("#paymentResponse").text(
                resp.getResponse({ "json": true })
            );
        });
    });
</script>

